LOCAL_FILES_PATH
EMBEDDING_MODEL_ID
EMBEDDING_SIZE
OLLAMA_MODEL
RERANKER_MODEL
USER_ID
PASSWORD
PUBLIC_BASE_URL
CONNECTOR_AUTH
OAUTH_DEMO_USER
OAUTH_DEMO_PASSWORD
OAUTH_CLIENT_ID
OAUTH_JWT_SECRET
VERBOSE=false
